@import "../../styles/variables.module.scss";

$section-margin: 10px 0;

.container {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  justify-content: space-between;

  svg {
    fill: $tertiary-dark;
    margin-right: 10px;
  }

  p {
    font-size: 12px;
    margin: 0;
  }

  p.bold {
    font-weight: 700;
    color: $tertiary-dark;
  }
  
  span.bold {
    font-weight: 700;
    color: $tertiary-dark;
    margin-bottom: 5px;
  }
  
  li {
    font-weight: 300;
    list-style: square;
  }
  
  img {
    border-radius: 8px;
    align-self: center;
    max-width: 98%;
  }
  
  @media (min-width: 800px) {
    flex-direction: row;
    font-size: 16px;

    p {
      font-size: 1rem;
    }

    .projectInfo {
      display: flex;
      flex-direction: column;
    }

    .iconContainer {
      margin-top: auto;
    }

    img {
      align-self: start;
    }

  }
}

.sectionContainer {
  margin: $section-margin;
  font-size: .72rem;

  a {
    font-weight: 700;
    color: $primary-darker;
  }

  h3 {
    font-weight: 400;
    margin: 0;
  }

  .sep {
    margin: 0 2px;
  }

  p {
    margin: 0 0 5px 0;

    span.bold {
      font-weight: 700;
      color: $tertiary-dark;
    }
  }

  span.italicize {
    font-style: italic;
    font-weight: 400;
  }

  p.skills {
    font-weight: 300;
  }

  p.highlight {
    color: $tertiary-dark;
  }

  li {
    margin-bottom: 5px;
    font-weight: 300;
    list-style: square;
  }

  ul {
    margin: 0 0 10px 0;
  }

  @media (min-width: 800px) {
    font-size: 1rem;

    .sep {
      margin: 0 5px;
    }
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;

  h3 {
    font-weight: 700;
    color: $tertiary-dark;
    margin-bottom: 5px;
  }

  @media (min-width: 800px) {
    .iconContainer {
      display: none;
    }
  }
}

.desktopOnly {
  @media (max-width: 800px) {
    display: none;
  }
}

.workExperienceContainer {
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
}