@import "../../styles/variables.module.scss";

$section-margin: 10px 0;

.container {
  display: flex;
  flex-direction: column;
}

.imgContainer {
  flex: 1;
  display: flex;
  background: linear-gradient(to bottom right, $tertiary-light, $tertiary-dark);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
  
  & > img {
    border-radius: 4px;
    max-inline-size: 98%;
  }
}

.contentContainer {
  flex: 1 1 415px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;

  svg {
    fill: $tertiary-dark;
    margin-right: 10px;
  }

  p {
    font-size: .72rem;
    margin: 0;
  }

  p.bold {
    font-weight: 700;
    color: $tertiary-dark;
  }
  
  span.bold {
    font-weight: 700;
    color: $tertiary-dark;
    margin-bottom: 5px;
  }
  
  li {
    font-weight: 300;
    list-style: square;
  }
  
  @media (min-width: 980px) {
    flex: 1 1 315px;
    flex-direction: row;

    p {
      font-size: 1rem;
    }

    .projectInfo {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .iconContainer {
      margin-top: auto;
    }
  }
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  margin: $section-margin;
  font-size: .72rem;

  hr {
    width: 100%;
  }

  a {
    font-weight: 700;
    color: $primary-darker;
  }

  h3 {
    font-weight: 400;
    margin: 0;
  }

  .sep {
    margin: 0 2px;
  }

  p {
    margin: 0 0 5px 0;

    span.bold {
      font-weight: 700;
      color: $tertiary-dark;
    }
  }

  span.italicize {
    font-style: italic;
    font-weight: 400;
  }

  p.skills {
    font-weight: 300;
  }

  p.highlight {
    color: $tertiary-dark;
  }

  li {
    margin-bottom: 5px;
    font-weight: 300;
    list-style: square;
  }

  ul {
    margin: 0 0 10px 0;
  }

  @media (min-width: 980px) {
    font-size: 1rem;
    
    .sep {
      margin: 0 5px;
    }
  }

  @media (max-width: 400px) {
    font-size: .7rem;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;

  h3 {
    font-weight: 700;
    color: $tertiary-dark;
    margin-bottom: 5px;
  }

  @media (min-width: 980px) {
    .iconContainer {
      display: none;
    }
  }
}

.desktopOnly {
  @media (max-width: 800px) {
    display: none;
  }
}

.workExperienceContainer {
  margin-top: 15px;

  display: flex;
  justify-content: space-between;

  @media (max-width: 400px) {
    font-size: .7rem;
  }
}