body{
	font-family: 'Pathway Gothic One', courier;
	color: #001a33;
	background-color: rgba(232, 246, 234,.5);
	background-size: 100% 100%;
  background-attachment: fixed;
}


h2,h3,h4,h5,h6{
	font-family: 'Pathway Gothic One', courier;
	color: #001a33;
}

h1{
	font-family: 'Pathway Gothic One', courier;
	color: #000033;
}

a{
	margin-right: 15px;
	padding: 2px;
	color: #3C39F8;
	/*background-color: rgba(255, 255, 255, 0.45);*/
}

p{
	margin-bottom: 0px;
}

.down{
	margin-bottom: -5px;
}

.fullscreen{
	height: 100vh;
}


.bot{
	position: relative;
	bottom: -25px;
}

.center{
  margin: auto;
  width: 80%;
}

.about{
	z-index: 1;
	position: fixed;
	right: 0;
	border: 1px solid black;
	height: 100vh;
	width: 35%;
	background-color: #fefefe;
	padding: 5px;
}

.description{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation-fill-mode:forwards; /*IE 10+*/
  animation-fill-mode:forwards;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 5em; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 5em; opacity: 1}
}

.top{
	position: relative;
	margin-top: -1.5%;
}

.border{
	border: 1px solid black;
}

.big{
	font-size: larger;
	font-weight: bolder;
}

.menu{
	font-size: 40px;
	margin: 15px 5px;
}

.desc{
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	vertical-align: middle;
}

.proj{
	max-width: 100%;
  border: .5px solid black;
	cursor: pointer;
}

.proj:hover{
  box-shadow: 2px 2px 5px black;
}

.overlay{
	color: #001a33;;
	/*z-index: 1005;*/
  background-color: rgba(255, 255, 255, 0.45);
  padding: 5px;
}

.screenshot{
  max-width: 90%;
  position: relative;
  top: 7em;
  left: 7em;
}

.oneMargin{
	margin: 2.5px;
}

.centerVert{
 position: relative;
 top: 5em;
}

.centerText{
	text-align: center;	
}

.leftText{
	text-align: left;
}

.rightText{
	text-align: right;
}

.moveDown{
	margin-bottom: -20px;
}

.farDown{
	margin-bottom: -30px;
}

.right{
	margin-right: 5px;
	margin-bottom: 0px;
}

.left{
	margin-left: 50px;
}

.resleft{
	margin-left: 20px;
}


.resover{
	/*background-color: rgba(10, 10, 10, 0.45);*/
	color: white;
}

.pointer{
  cursor:pointer;
}

.clear{
	clear:both;
}

.paper{ 
	width: 70%;
	border: 1px solid black;
	border-radius: 5px;
	background-color:#FEFFF7;
	margin-left: auto;
	margin-right: auto;
}
.inline{
	display: inline;
}
.inBlock{
	display: inline-block;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}

.element-appear {
  opacity: 0.01;
}

.element-appear.element-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.element-leave {
  opacity: 1;
}

.element-leave.element-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-out;
}

@-webkit-keyframes floater {
  from { top:0em; opacity: 0;}
  to { top:5em; opacity: 1; }
}

@keyframes floater {
  from { top:0em; opacity: 0;}
  to { top:5em; opacity: 1; }
}

@-webkit-keyframes aboutEnter{
	from { transform: translate(100%); }
	to {transform: translate(0%);}
}

@keyframes aboutEnter{
  from { transform: translate(100%); }
  to {transform: translate(0%);}
}

@-webkit-keyframes aboutleave{
	from {transform: translate(0%);}
	to {transform: translate(100%);}
}

@keyframes aboutleave{
  from {transform: translate(0%);}
  to {transform: translate(100%);}
}

@-webkit-keyframes grow {
	from {width: 0px; height: 1.5px;}
	to {width: 28%; height: 1.5px;}
}

@keyframes grow {
  from {width: 0px; height: 1.5px;}
  to {width: 28%; height: 1.5px;}
}
@-webkit-keyframes appear {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.slidein{
	-webkit-animation-name: aboutEnter .5s; /* Safari */
  -webkit-animation-duration: .5s;
  -moz-animation-name: aboutEnter .5s; /* Safari */
  -moz-animation-duration: .5s;
  animation-name: aboutEnter;
  animation-duration: .5s;
  animation-timing-function: ease-in

}

.slideout{
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation-fill-mode:forwards; /*IE 10+*/
  animation-fill-mode:forwards;
	-webkit-animation-name: aboutleave .5s; /* Safari */
  -webkit-animation-duration: .5s;
  -moz-animation-name: aboutleave .5s; /* Safari */
  -moz-animation-duration: .5s;
  animation-name: aboutleave;
  animation-duration: .5s;
  animation-timing-function: ease-out

}

.show{
	opacity: 0;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation-fill-mode:forwards; /*IE 10+*/
  animation-fill-mode:forwards;
  -webkit-animation-name: appear 1s; /* Safari */
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1s;
  -moz-animation-name: appear 1s; /* Safari */
  -moz-animation-delay: 2s;
  -moz-animation-duration: 1s;
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in

}


.underline{
  background-color: #000033;
  left: 10px;
  top: -35px; 
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation-fill-mode:forwards; /*IE 10+*/
  animation-fill-mode:forwards; 
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: grow 1s; /* Safari */
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-name: grow 1s; /* Safari */
  -moz-animation-delay: 1s;
  -moz-animation-duration: 1s;
  animation-name: grow;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}


.slowrise{
  max-width: 90%;
  margin: auto;
  position: relative;
  -webkit-animation-name: floater; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: floater; /* Chrome, Safari, Opera */
  -webkit-animation-duration: .25s; /* Chrome, Safari, Opera */
  animation-name: floater;
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

.modal-anim-enter {
  opacity: 0.00;
  transform: scale(0.7);
  transition: all 1s;
}

.modal-anim-enter.modal-anim-enter-active {
  opacity: 1;
  transform: scale(1);
}

.modal-anim-leave {
  opacity: 1;
  transform: scale(1);
  transition: all 0.55s;
}

.modal-anim-leave.modal-anim-leave-active {
  opacity: 0.00;
  transform: scale(0.7);
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  background-color: rgba(10, 10, 10, 0.6);
  overflow-y: scroll;
}

.modal{
  z-index: 1006;
/*  padding: 1rem;
  border: 1px solid #cacaca;
  background-color: #fefefe;
  border-radius: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;*/
}
