@import "../../styles/variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  
  button {
    align-self: flex-end;
  }
  
  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 100vh;
  }
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-top: 20px;

  a {
    flex: 1;
  }

  svg {
    fill: $secondary-dark;
  }
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 100vh;

  background: $primary-darker;

  h2 {
    color: $tertiary-light;
    font-weight: 300;
  }

  p {
    color: $secondary-dark;
  }
  
  @media (min-width: 800px) {
    p {
      margin-bottom: 20px;
    }
  }
}

@keyframes oscillate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.scrollButtonAnimation {
  animation: 700ms ease-in-out 0s infinite alternate oscillate; 
}

.mobileOnly {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  padding-bottom: 10px;


  button {
    appearance: none;
    background: transparent;
    border: none;
  }

  svg {
    stroke: $tertiary-light;
    fill: transparent;
  }

  @media (min-width: 800px) {
    display: none;
  }
}

.desktopOnly {
  @media (max-width: 800px) {
    display: none;
  }
}

.rightPanel {
  background-color: $background;
  overflow-y: auto;
  padding: 50px 20px 0px 20px;

  
  @media (min-width: 800px) {
    padding: 50px 40px 0px 40px;

    background: 
    linear-gradient($background 33%, rgba(61,192,206, 0)),
    linear-gradient(rgba(61,192,206, 0), $background 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(34,34,34, 0.5), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(34,34,34, 0.5), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;
  }
}

.emojiContainer {
  display: flex;
  justify-content: space-evenly;
  
  span {
    font-size: 42px;
  }
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5
}

.image {
  border-radius: 50%;
}